/* header */
.header
{
    overflow: auto;
}
.header .menu
{
    float: left;
}
.header .account
{
    float: right;
}

/* Study page controllers*/
.controllers_wrapper
{
    overflow: auto;
}
.controllers_wrapper .controllers
{
    float: left;
}
.controllers_wrapper .settings
{
    float: right;
}

#recap
{
    margin-top: 2em;
}
#button_add_to_recap_list
{
    width: 5em;
    height: 3em;
    background-color: #0099CC;
    color: #FFFFFF;
    font-weight: bold;
}

/* han_character styles */
.han_character
{
    display: inline;
    font-size: 15em;
    font-family: "DFKai-SB", "BiauKai", "STKaiti";
    color: #444444;
}

html, body { height : 100%; }
.header a {
    text-decoration:none;
    color: #FFFFFF; 
}
.header a:hover {
    text-decoration:none;
    color: #FFFFFF;
}
.header a:visited {
    text-decoration:none;   
    color: #FFFFFF;
}

.container {
    width: 90%;
    height: auto;
    margin: 10px auto 10px auto;
    border: 1px solid #fff;
    background-color: #C7EDCC;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.mainbody,
.header,
.footer {
    padding: 5px;
}
.mainbody {
    margin-top: 0;
    min-height: 150px;
    height: auto;
}
.header {
    height: 40px;
    border-bottom: 1px solid #EEE;
    background-color: #0099CC;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    font-size: 25px;
}
.footer {
    height: 40px;
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.prettyprint
{
    padding: 10px;
    background-color: #C7EDCC;
    border: 1px solid #666666;
}

