{% extends "base.html" %}

{% block preload_js %}
    <script type="text/javascript" src="/js/flashcard.js"></script>
    <script type="text/javascript" src="/js/study_api.js"></script>
    <script type="text/javascript" src="/js/vocabulary_gen_strategy.js"></script>
    <script type="text/javascript" src="/js/study.js"></script>
{% endblock %}

{% block content %}
    <div id="controllers">
        Today Study: <input type="text" id="input_today_study">
        <button id="button_add_new">Add New</button>
        <button id="button_load_history">Load History</button>
        <button id="button_recap">Recap</button>
    </div>
    <div class="previous_study">
        Previous Study: <select id="select_previous_study">
            <option value="last_week">Last Week</option>
            <option value="last_month">Last Month</option>
        </select>
    </div>
    <div class="all_study">
    </div>
    <div id= "flashcard", class="flashcard">
    </div>
    <div class="recap">
        <button id="button_add_to_recap_list">Recap</button>
    </div>
{% endblock %}