{% extends "base.html" %}

{% block preload_js %}
    <script type="text/javascript" src="/js/flashcard.js"></script>
    <script type="text/javascript" src="/js/study_api.js"></script>
    <script type="text/javascript" src="/js/vocabulary_gen_strategy.js"></script>
    <script type="text/javascript" src="/js/study.js"></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <!-- progress bar -->
    <div id="learning_panel" class="hide">
        <div class="progress">
            <div id="progressBarLearning" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
            </div>
        </div>
        <!-- flash card -->
        <div id= "flashcard", class="flashcard">
        </div>
        <div id="recap">
            <button class="btn btn-info" id="button_add_to_recap_list">Add to Recap</button>
            <div id="recap_list"></div>
        </div>
    </div>
</div>
{% endblock %}
