<!DOCTYPE html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Menrfa's Hornbook</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/jGrowl/jquery.jgrowl.min.css"/>
    {% block css %}
    {% endblock %}
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/jGrowl/jquery.jgrowl.min.js"></script>
    <script src="/js/util.js"></script>
    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="header_container">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href='/study/'>Study</a></li>
            <li><a href='/dashboard/'>Dashboard</a></li>
            {% if user.is_authenticated %}
            <li><a href='/accounts/logout/'>Log out</a></li>
            {% else %}
            <li><a href="/accounts/login/">Log in</a></li>
            {% endif %}
          </ul>
          <div class="username">{{user.username}}</div>
        </nav>
      </div>

      <div class="mainbody">
        <div class="message">
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
        {% block content %}
        {% endblock %}
      </div>

      <div class="footer">
        <p>Copyright © 2013 - 2014 Ping Zou All Rights Reserved </p>
      </div>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          
        {% endblock %}

        
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
