<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Menrfa's Hornbook</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/js/jGrowl/jquery.jgrowl.min.css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}
    {% endblock %}
    
    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>

  <body>
    <dib class="container">
      <!-- nav bar -->
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Horn Book</span>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="nav_study" ><a href="/study/">Study</a></li>
              <li id="nav_new" ><a href="/study/new/">New</a></li>
              <li id="nav_dashboard" ><a href="/dashboard/">Dashborad</a></li>
              {% if user.is_authenticated %}
              <li><a href='/accounts/logout/'>Log out</a></li>
              {% else %}
              <li id="nav_accounts" ><a href="/accounts/login/">Log in</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>{{user.username}}</li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}
      {% endblock %}
      
      <div class="footer">
        <p class="text-center">Copyright © 2013 - 2014 Ping Zou All Rights Reserved </p>
      </div>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    
    <script src="/js/jGrowl/jquery.jgrowl.min.js"></script>
    <script src="/js/util.js"></script>
    <script>
    // set nav linkt active
    function GetCurrentPageName() { 
      //method to get Current page name from url. 
      var pageUrl = document.location.href;
      var tokens = pageUrl.split("/");
      var pageName = tokens[3]; // ["http:", "", "localhost:8000", "study", ""] 
      return pageName.toLowerCase();
    }
       
    $(document).ready(function(){
      var currPage = GetCurrentPageName();
      switch(currPage){
        case "":
          $("#nav_home").addClass("active");
          break;
        case "study":
          $("#nav_study").addClass("active") ;
          break;
        case "dashboard":
          $("#nav_dashboard").addClass("active") ;
          break;
        case "accounts":
          $("#nav_accounts").addClass("active") ;
          break;
      }
    });
    </script>
    {% block js %}
    {% endblock %}
  </body>
</html>
