<!DOCTYPE html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Menrfa's Hornbook</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    {% block css %}
    {% endblock %}
    
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>

  <body>

    <div class="container">
      <div class="header">
        <div class="menu">
          <a href="/">Home</a>
          {% block page-header %}
          {% endblock %}
        </div>
        <div class="account">
          {% if user.is_authenticated %}
            <span>{{user.username}}</span>
            <a href="/accounts/logout/">Log out</a>
          {% else %}
            <a href="/accounts/login/">Log in</a>
          {% endif %}
        </div>
      </div>
      
      <div class="mainbody">
        <div class="message">
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
        {% block content %}
        {% endblock %}
      </div>

      <div class="footer">
        <p>Copyright © 2013 All Rights Reserved </p>
      </div>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          
        {% endblock %}

        
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
