<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css" media="all"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/hornbook_api/main.js"></script>
        <title>hornbook_api</title>
    </head>

    <body>
        <h1>Hornbook</h1>
        <div id= "flashcard", class="flashcard">
        </div>
        <button id="button_yes" class="button_yes">Yes</button>
        <button id="button_no" class="button_no">No</button>
    </body>
</html>