<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/hornbook_api/main.css" rel="stylesheet" type="text/css" media="all"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script type="text/javascript" src="/js/hornbook_api/controllers.js"></script>
        <title>hornbook_api</title>
    </head>

    <body ng-controller="HornbookAPICtrl">
        <div class="content" ng-repeat="api in apis">
            <h1>{{api.name}}</h1>
            <div class="prettyprint">
                <input ng-model=api.request>
            </div>
            <div>
                {{api.request}}
            </div>
            <div class="prettyprint">{{api.response}}</div>
        </div>
    </body>
</html>